{% extends 'base.html' %}
{% block content %}
<section class="background" data-size="page">
	<h1>{{ article.title }}</h1>
	
  	<div class="post-info">
    	{% if article.author %}
					
			{% set nimage = namespace(image='') %}
			{% set nrole = namespace(role='') %}
			{% set ndivision = namespace(division='') %}
			{% set nslug = namespace(slug='') %}
			{% for m in MEMBERS %}
			  {% if m['name'] == article.author %}
			  	{% set nimage.image = m['image'] %}
				{% set nrole.role = m['role'] %}
				{% set ndivision.division = m['division'] %}
				{% set nslug.slug = m['slug'] %}
			  {% endif %}
			{% endfor %}
			
			<div class="portrait-wrapper">
				<a href="/{{ ndivision.division }}/{{ nslug.slug }}" title="{{ TYPES[nrole.role].description }}" class="portrait" data-style="tiny" aria-label="{{ article.author }}">
					<i class="icon {{ TYPES[nrole.role].icon }}"></i>
					<img src="{{ SITEURL }}/images/{{ nimage.image }}" class="portrait-image" alt="member portrait" loading="lazy" onerror="this.src = '/images/fallback.svg'; this.onerror = null;">
					
					<!-- <i class="icon fa-solid fa-feather-pointed"></i> -->
					
					<span class="portrait-name">
						{{ article.author }}
				  	</span>		
					
					<span class="portrait-description">
						{{ TYPES[nrole.role].description }}
					</span>			
			  </a>
			</div>
		{% endif %}
    		
		<span data-tooltip="Originally published on">
			<i class="icon fa-regular fa-calendar"></i>
			<span>
				{{ article.date|strftime('%B %d, %Y') }}
			</span>
		</span>
		{% if article.lastupdate %}
			<span data-tooltip="Last updated on">
				<i class="icon fa-solid fa-clock-rotate-left"></i>
				<span>
					{{ article.lastupdate|parse_date|strftime('%B %d, %Y') }}
				</span>
			</span>
		{% endif %}
	</div>
	
	{% if article.tags %}
		<div class="tags">
			{% for tag in article.tags|default([]) %} 
				<a href="?search=&quot;tag: {{ tag }}&quot;" class="tag">{{ tag }}</a>
			{% endfor %}
		</div>
	{% endif %}


  	{{ article.content }}
  
  
	{% if article.prev_article_in_category or article.next_article_in_category %}
		<div class="post-nav">
			{% if article.next_article_in_category %}
		  		<a class="button" href="{{ SITEURL }}/{{ article.next_article_in_category.url }}">
					<i class="icon fa-solid fa-arrow-left"></i>
					<span>
						Previous article
					</span>
		  		</a>
		  	{% else %}
		  	<span>
		  	
		  	</span>
		  	{% endif %}

		  	{% if article.prev_article_in_category %}
		  	<a class="button" href="{{ SITEURL }}/{{ article.prev_article_in_category.url }}">
				<span>
					Next article
				</span>
				<i class="icon fa-solid fa-arrow-right"></i>
		  	</a>
		 	{% endif %}
		</div>
	{% endif %}
	
	  
</section>
{% endblock %}
